/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Estilo general del cuerpo */
body {
    background-color: #fdf6f6; 
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    padding: 20px;
}

/* Encabezado */
header {
    text-align: center;
    background-color: #ff577f;
    padding: 20px; 
    border-radius: 10px; 
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem; 
    color: white;
    margin-bottom: 5px;
}

header p {
    font-size: 1rem;
    color: white;
}


/* Contenido principal */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

main div {
    background-color: #ffe4e6; 
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

main div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

main img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

main h2 {
    font-size: 1.5rem;
    color: #ff577f;
    margin: 10px 0;
}

main p {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

/* Pie de página */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffc8dd; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 1rem;
    color: #555;
    font-weight: bolder;
}
